header {
    min-height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    background-color: #e873ff;
    border-bottom: 1px solid #daf5ff;
  }